.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.qualModal {
    max-height: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 94%;
        max-width: 94%;
    }
}

.viewQual-modalHeader{
    margin-top: -63px;
    text-align: center;
    /* width: 250px; */
    margin-left: 20%;
    margin-right: 20%;
    /* margin: 0px; */
    /* word-break: normal; */
    /* word-wrap: normal; */
}